<?xml version="1.0" encoding="UTF-8"?>
<module id="22" version="2016052300">
  <modulename>book</modulename>
  <sectionid>19</sectionid>
  <sectionnumber>5</sectionnumber>
  <idnumber></idnumber>
  <added>1407173818</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>1</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","c":[],"showc":[]}</availability>
  <showdescription>0</showdescription>
  <tags>
  </tags>
</module>